body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: gray;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input_fields {
  font-size: 14px;
}

input {
  width: 35px;
}

#cities {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  width: 380px;
  /* flex-direction: column; */
}

button {
  width: 120px;
}

#calendar {
  display: flex;
  justify-content: center;
}

.day {
  display: flex;
  flex-direction: column;
}

.day > div {
  width: 50px;
  height: 20px;
  text-align: right;
  border: 0.5px solid gray;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: lightgray;
  font-size: 12px;
  color: white;
  text-align: center;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: -20%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (min-width: 950px) {
  #container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  #cities {
    flex-direction: column;
    width: 120px;
  }

  #input_fields {
    font-size: 24px;
  }
}
