#container {
  display: flex;
  justify-content: space-between;
}

input {
  width: 30px;
}

#cities {
  display: flex;
  flex-direction: column;
}

button {
  width: 120px;
}

#calendar {
  display: flex;
  justify-content: center;
}

.day {
  display: flex;
  flex-direction: column;
}

.day > div {
  font-family: Arial, sans-serif;
  color: white;
  width: 50px;
  height: 20px;
  text-align: right;
  border: 0.5px solid black;
}
