body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: gray;
}

#container {
  display: flex;
  justify-content: space-between;
}

#input_fields {
  font-size: 24px;
}

input {
  width: 35px;
}

#cities {
  display: flex;
  flex-direction: column;
}

button {
  width: 120px;
}

#calendar {
  display: flex;
  justify-content: center;
}

.day {
  display: flex;
  flex-direction: column;
}

.day > div {
  width: 50px;
  height: 20px;
  text-align: right;
  border: 0.5px solid gray;
}
